html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.ttf"); }

a {
  text-decoration: none; }

.container {
  max-width: 1220px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.025em;
  background: #ffffff; }

@media (max-width: 600px) {
  body {
    font-size: 14px;
    line-height: 20px; } }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
  font-weight: 400; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2; }

.header__inner {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  width: 80px;
  height: 80px;
  z-index: 3; }

.header__burger {
  display: none; }

.header__menu-list {
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2; }

.header__menu-list-link {
  color: #666666;
  background: #ffffff;
  padding: 10px 18px 10px 18px; }
  .header__menu-list-link:hover {
    color: #337ab7;
    background: #eeeeee; }

.header__menu-list-link-statement {
  padding: 10px 18px 10px 18px;
  border-radius: 20px;
  color: #ffffff;
  background: #337ab7; }

@media (max-width: 890px) {
  body.lock {
    overflow: hidden; }
  .header__inner {
    height: 70px; }
  .header__logo {
    width: 60px;
    height: 60px; }
  .header__burger {
    display: block;
    position: relative;
    width: 42px;
    height: 32px;
    background: #337ab7;
    border-radius: 3px;
    z-index: 3; }
    .header__burger span {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      width: 22px;
      height: 2px;
      top: 15px;
      cursor: pointer;
      transform: translateX(10px); }
    .header__burger:before, .header__burger:after {
      content: '';
      background-color: #ffffff;
      position: absolute;
      width: 22px;
      height: 2px;
      left: 0;
      transform: translateX(10px); }
    .header__burger:before {
      top: 9px; }
    .header__burger:after {
      bottom: 9px; }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 350px;
    overflow: auto;
    background-color: #ffffff;
    padding: 80px 0 20px 15px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5); }
    .header__menu.active {
      top: 0; }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__menu-list-item {
    margin: 0 0 20px 0; } }

.registration {
  height: 100%;
  padding-top: 157px;
  background: #f7f7f7; }

.regisstration__inner {
  display: flex;
  justify-content: space-between; }

.regisstration__left {
  width: 100%;
  text-align: center;
  margin: auto 55px 110px 0; }

.regisstration__left-title {
  color: #333333;
  font-size: 34px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 35px; }

.regisstration__left-text {
  color: #6f6a66;
  font-size: 20px;
  line-height: 32px; }

.registration__form-title {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 20px; }

.regisstration__right {
  width: 100%; }

.registration__form {
  width: 100%; }

.input {
  margin-top: 8px;
  position: relative;
  color: #6f666a;
  width: 100%; }
  .input label::after {
    position: absolute;
    content: "";
    background-image: url("../images/icons/required.png");
    background-size: 7px 7px;
    width: 7px;
    height: 7px;
    transform: translateY(100%);
    margin-left: 3px; }
  .input input {
    width: 100%;
    height: 52px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-top: 4px;
    padding: 18px 15px 15px 15px; }
    .input input::placeholder {
      color: #99999c; }
    .input input:focus::placeholder {
      opacity: 0; }
    .input input:focus {
      border: 1px solid #66afe9;
      box-shadow: 0 0 7px #cfe3f3;
      outline: 0; }

.input__privacy-policy {
  margin-top: 23px;
  position: relative;
  color: #7c8593;
  width: 100%;
  display: flex; }
  .input__privacy-policy label::after {
    position: absolute;
    content: "";
    background-image: url("../images/icons/required.png");
    background-size: 7px 7px;
    width: 7px;
    height: 7px;
    transform: translateY(100%);
    margin-left: 3px; }
  .input__privacy-policy a {
    color: #5572ac; }

.button__inner {
  margin: 35px 0 30px 0; }
  .button__inner button {
    display: block;
    margin: 0 auto;
    width: 368px;
    height: 51px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase; }

@media (max-width: 890px) {
  .registration {
    padding-top: 127px; } }

@media (max-width: 856px) {
  .regisstration__inner {
    flex-direction: column; }
  .regisstration__left {
    margin: 0 0 60px 0; }
  .registration__form-title {
    text-align: center; }
  .regisstration__left-text {
    font-size: 16px; }
  .registration__form {
    margin: 0 auto; } }

@media (max-width: 407px) {
  .input__privacy-policy input {
    transform: translateY(12px); } }

@media (max-width: 403px) {
  .button__inner button {
    width: 100%; }
  .regisstration__left-title {
    font-size: 22px; } }

.slick-track {
  display: flex;
  justify-content: center; }

.slick-list {
  overflow: hidden; }

.development__slider {
  position: relative; }
  .development__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center; }
    .development__slider .slick-dots li {
      list-style: none;
      margin: 0 14px; }
    .development__slider .slick-dots li.slick-active button {
      background-color: #666666;
      border: none; }
    .development__slider .slick-dots button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: #b3b3b3;
      border-radius: 50%;
      border: none; }

.slider__item {
  min-width: 0; }

.development {
  padding-top: 75px;
  padding-bottom: 75px; }

.development__top-title {
  color: #333333;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 48px;
  text-align: center; }

.development__bottom {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

.slider__item {
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .slider__item + .slider__item {
    margin-left: 65px; }

.development__image {
  width: 85px;
  height: 85px;
  margin-bottom: 26px; }

.development__title {
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid #3498db;
  color: #666666;
  padding-bottom: 18px;
  margin-bottom: 32px; }

.development__text {
  line-height: 24px;
  color: #929292; }

.slick-dots .slick-active:only-child {
  display: none; }

@media (max-width: 599px) {
  .development__top-title {
    font-size: 24px; }
  .slider__item + .slider__item {
    margin-left: 0; } }

.result {
  background: #3498db; }

.result__inner {
  padding-top: 80px;
  display: flex;
  justify-content: space-between; }

.result__item {
  width: 290px;
  text-align: center;
  color: #ffffff; }

.result__image {
  width: 85px;
  height: 60px;
  margin-bottom: 25px; }

.result__indicator {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px; }

.result__description {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 80px; }

@media (max-width: 849px) {
  .result__inner {
    flex-wrap: wrap;
    align-content: center; } }

@media (max-width: 625px) {
  .result__item {
    width: 210px; }
  .result__description {
    font-size: 14px; } }

@media (max-width: 450px) {
  .result__item {
    width: 170px; } }

@media (max-width: 370px) {
  .result__item {
    width: 150px; } }

@media (max-width: 330px) {
  .result__item {
    width: 145px; } }

.reviews {
  padding-top: 75px;
  padding-bottom: 38px; }

.slick-initialized {
  z-index: 1; }

.reviews__title {
  color: #333333;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 12px;
  text-align: center; }

.reviews__slider {
  position: relative; }
  .reviews__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center; }
    .reviews__slider .slick-dots li {
      list-style: none;
      margin: 0 14px; }
    .reviews__slider .slick-dots li.slick-active button {
      background-color: #666666;
      border: none; }
    .reviews__slider .slick-dots button {
      font-size: 0;
      width: 12px;
      height: 12px;
      background-color: #b3b3b3;
      border-radius: 50%;
      border: none; }

.reviews__text-inner {
  font-size: 22px;
  line-height: 34px;
  color: #666666;
  text-align: center;
  display: flex;
  justify-content: space-between; }

.reviews__quotes-left-image {
  margin-right: 12px;
  width: 31px;
  height: 31px; }

.reviews__quotes-right {
  display: flex;
  align-items: flex-end; }

.reviews__quotes-right-image {
  margin-left: 12px;
  width: 31px;
  height: 31px; }

.reviews__author {
  text-align: center;
  margin-top: 43px; }

.reviews__author-name {
  font-size: 20px;
  font-weight: 400;
  color: #333333; }

.reviews__author-position {
  margin-top: 8px;
  margin-bottom: 110px;
  font-style: italic;
  color: #929292; }

@media (max-width: 849px) {
  .reviews__quotes-left-image {
    margin-right: 9px;
    width: 23px;
    height: 23px; }
  .reviews__quotes-right-image {
    margin-left: 9px;
    width: 23px;
    height: 23px; } }

@media (max-width: 625px) {
  .reviews {
    padding-top: 38px;
    padding-bottom: 28px; }
  .reviews__quotes-left-image {
    margin-right: 6px;
    width: 15px;
    height: 15px; }
  .reviews__quotes-right-image {
    margin-left: 6px;
    width: 15px;
    height: 15px; }
  .reviews__title {
    font-size: 24px; }
  .reviews__text-inner {
    font-size: 14px;
    line-height: 22px; }
  .reviews__author {
    margin-top: 24px; }
  .reviews__author-position {
    margin-top: 6px;
    margin-bottom: 105px; } }

.video {
  padding-top: 75px;
  padding-bottom: 65px;
  text-align: center;
  background: #f7f7f7; }

.video__title {
  color: #333333;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 27px; }

.video__text {
  padding-bottom: 31px; }

.video__text-paragraph {
  color: #6f6a66;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300; }

.video__bottom {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0; }

@media (max-width: 1220px) {
  .video__bottom iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; } }

@media (max-width: 600px) {
  .video__title {
    font-size: 24px;
    line-height: 32px; }
  .video__text-paragraph {
    font-size: 16px;
    line-height: 22px; } }

.mentors {
  padding-top: 75px;
  padding-bottom: 65px; }

.mentors__title {
  color: #333333;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 33px;
  text-align: center; }

.mentors__slider {
  position: relative; }
  .mentors__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center; }
    .mentors__slider .slick-dots li {
      list-style: none;
      margin: 0 14px; }
    .mentors__slider .slick-dots li.slick-active button {
      background-color: #666666;
      border: none; }
    .mentors__slider .slick-dots button {
      font-size: 0;
      width: 12px;
      height: 12px;
      background-color: #b3b3b3;
      border-radius: 50%;
      border: none; }

.mentors___slider-item {
  display: flex; }

.mentors__photo {
  width: 337px;
  height: 356px; }

.mentors__right {
  padding: 10px 0 0 105px; }

.mentors__name {
  font-size: 18px;
  font-weight: 600;
  color: #3498db;
  margin-bottom: 16px; }

.mentors__text {
  border-top: 1px solid #f7f7f7;
  padding-top: 32px;
  line-height: 24px;
  color: #929292; }

.mentors__text-paragraph {
  margin-bottom: 19px; }

@media (max-width: 1021px) {
  .mentors__photo {
    width: 300px;
    height: 316px; }
  .mentors__right {
    padding: 10px 0 0 75px; } }

@media (max-width: 955px) {
  .mentors__photo {
    width: 241px;
    height: 254px; }
  .mentors__right {
    padding: 10px 0 0 55px; } }

@media (max-width: 740px) {
  .mentors__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px; }
  .mentors__right {
    padding: 25px 0 0 0; }
  .mentors___slider-item {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .mentors__name {
    margin-bottom: 8px; }
  .mentors__text {
    padding-top: 24px; } }

@media (max-width: 530px) {
  .mentors__photo {
    width: 145px;
    height: 153px; }
  .mentors__name {
    margin-bottom: 1px; } }

.map {
  height: 400px; }

.contacts {
  background: #3498db; }

.contacts__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between; }

.contacts__item {
  width: 290px;
  text-align: center;
  font-weight: 300;
  color: #ffffff; }

.contacts__image {
  width: 50px;
  height: 50px; }

.address .contacts__image, .facebook .contacts__image {
  width: 30px; }

.contacts__title {
  font-weight: 600;
  color: #ffffff;
  padding: 23px 0 10px 0; }

.contacts__value {
  color: #ffffff; }

@media (max-width: 849px) {
  .contacts__inner {
    flex-wrap: wrap;
    align-content: center; }
  .contacts__inner {
    padding-top: 19px; }
  .contacts__image {
    margin-top: 21px; } }

@media (max-width: 625px) {
  .contacts__item {
    width: 220px; }
  .contacts__image {
    width: 36px;
    height: 36px; }
  .address .contacts__image, .facebook .contacts__image {
    width: 22px; } }

@media (max-width: 471px) {
  .contacts__item {
    width: 180px; }
  .contacts__item {
    font-size: 14px;
    line-height: 20px; } }

@media (max-width: 390px) {
  .contacts__item {
    width: 160px; } }

@media (max-width: 350px) {
  .contacts__item {
    width: 145px; } }

.footer {
  background: #f7f7f7; }

.copyright {
  padding-top: 54px;
  padding-bottom: 51px;
  text-align: center; }

.copyright__text {
  margin-bottom: 21px;
  color: #457dbd; }

.copyright__link {
  color: #8a7c85; }

@media (max-width: 625px) {
  .copyright {
    padding-top: 34px;
    padding-bottom: 31px; }
  .copyright__text {
    font-size: 14px;
    line-height: 20px; }
  .copyright__link {
    font-size: 14px;
    line-height: 20px; } }

/*# sourceMappingURL=style.css.map */
